@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "IBM Plex Sans", sans-serif;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes scroll-2 {
	0% {
		transform: translateX(calc(-250px * 7));
	}
	100% {
		transform: translateX(0);
	}
}

.slider {
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slide-track {
	animation: scroll 30s linear infinite;
	display: flex;
	width: calc(250px * 14);
}

.slide {
	width: 250px;
}

.slider-2 {
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 80%;
}

.slide-track-2 {
	animation: scroll-2 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
}
